/**
 * 'Poppins' font-face rules.
 */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('Poppins-Light.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: normal;
  src: url('Poppins-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('Poppins-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('Poppins-SemiBoldItalic.woff') format('woff');
}
